body {
	font-family: 'Roboto', sans-serif;
}

.banner {
	/*background shorthand*/
	background: url(../images/carbanner.jpg) top; 
	background-size: cover;
	height: 700px;
	margin-top: 60px;
	padding-top: 150px;
	text-align: center;
}

/*navbar spacing*/
.navbar {
	padding: 7px; 
	background: #171717;
	border-radius: 0;
	border: 0;
}

#mynavbar {
	border: 0;
}

/*nav textcolor*/
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
	color: rgb(255, 255, 255);
}

.content {
	padding: 0;
}

.collection {
	background: url(../images/carcollection.jpg) center;
	background-size: cover;
	margin: 0;
	padding: 0 10%;
	margin-top: 60px;
}

.collectiondetails, .archivedetails, .aboutdiv, .totaldiv {
	background: transparent;
	padding: 10px;
}

.cdetails {
	background: rgba(23,23,23,0.5);
	padding: 20px;
	min-height: 660px;
	text-align: justify;
	color: white;
}

.additem {
	background: rgba(23,23,23,0.5);
	padding: 20px; 
	margin: 20px 0;
	color: white;
}

.textcolor {
	color: #171717;
}

.carsimg {
	padding: 0 0 15px 0;
}

.about {	
	background: url(../images/carabout.jpg) center;
	background-size: cover;
	min-height: 600px;
	color: #171717;
	margin-top: 60px;
	padding: 0 10%;
}

.aboutdiv, .cartcarsdetails {
	padding-top: 50px;
}

.aboutdetails {
	text-align: justify;
}

.contact {
	background: url(../images/carcontact.jpg) center;
	background-size: cover;
	min-height: 550px;
	padding: 0 10%;
	margin-top: 60px; 
}

.loginbg {
	background: url(../images/carlogin.jpg) center;
	background-size: cover;
	min-height: 500px;
	margin-top: 60px;
	padding: 30px 10%;
}

/*login contact sections*/
.outerdiv {
	padding: 10px;
	background: transparent;
	padding-top: 5%;
}

.login, .contactdetails, .adetails, .bannerdetails {
	background: rgba(23,23,23,0.5);
	color: white;
	padding: 20px;
}

.btn {
	background: #171717;
	color: white;
}

.feedback {
	background: url(../images/carfeedback.jpg) center;
	background-size: cover;
	padding: 0 10%;
	margin-top: 60px;
	min-height: 1000px;
}

.adetails {
	text-align: justify;
}

.cartcars {
	background: url(../images/carcart.jpg) center;
	background-size: cover;
	padding: 0 10%; 
	margin-top: 60px;
	min-height: 1000px; 
}

.totaldiv {
	margin-top: 5px;
}

.totalbg {
	color: white;
	text-align: right;
	background: rgba(23,23,23,0.5);
	padding: 10px 20px;
}

.footer {
	min-height: 150px;
	text-align: center;
	background: #171717;
}

.social-media {
	margin-top: 15px;
	padding: 10px;
}

.footer-icons {
	width: 40px;
	margin: 10px;
}

span {
	color: white;
}


@media screen and (max-width: 1200px) {
	
	.collection {
		padding: 0 8%;
	}

/*	.aboutdetails {
		padding: 20px;
	}
*/
	.contact {
		padding: 0 8%;
	}

}


@media screen and (max-width: 992px) {
	
	.container {
		width: 100%;
	}

	.collection {
		padding: 0 2%;
	}

/*	.aboutdetails {
		padding: 20px;
	}*/

	.contact {
		padding: 0 2%;
		min-height: 600px;
	}

}



@media screen and (max-width: 768px) {

	.banner {
		padding-top: 450px;
	}
	
	.collection {
		padding: 0 20px;
	}

	.cdetails {
		min-height: 750px;
	}

	.contact {
		padding: 20px;
		min-height: 800px;
	}

	.social-media {
		margin-top: 15px;
		padding: 10px;
	}

	.footer-icons {
		width: 35px;
		margin: 5px;
	}

	span {
		font-size: 0.9em;
	}

}